/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
 */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Sora", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #ed6d30;
  --color-secondary: #191919;
  --color-tertiary: #ffffff;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    accent-color: var(--color-primary);
    overflow-x: hidden;
  }

  .dark body {
    background-color: #0b0f14;
    color: #e5e7eb;
  }
}
